name: "Market"

on:
  - push

env:
  owner: "zmarket"

jobs:
  clone:
    if: ${{ github.repository_owner == 'zbox' }}
    runs-on: ubuntu-latest
    name: "Clone"
    steps:
      - run: |
          echo "repo_name=$( echo '${{ github.repository }}' | awk -F '/' '{ print $2 }' )" >> $GITHUB_ENV
        shell: bash
      - run: |
          curl -X POST \
          -H 'Authorization: Bearer ${{ secrets.BOT_GITHUB_TOKEN }}' \
          -H 'Accept: application/vnd.github+json' \
          '${{ github.api_url }}/orgs/${{ env.owner }}/repos' \
          -d '{"name":"${{ env.repo_name }}","private":false,"has_issues":false,"has_projects":false,"has_wiki":false}' \
          -s -o '/dev/null'
        shell: bash
      - uses: ghastore/mirror@main
        with:
          src_repo: "${{ github.server_url }}/${{ github.repository }}.git"
          src_user: "${{ secrets.BOT_GITHUB_NAME }}"
          src_token: "${{ secrets.BOT_GITHUB_TOKEN }}"
          dst_repo: "${{ github.server_url }}/${{ env.owner }}/${{ env.repo_name }}.git"
          dst_user: "${{ secrets.BOT_GITHUB_NAME }}"
          dst_token: "${{ secrets.BOT_GITHUB_TOKEN }}"
